
*{
 box-sizing: border-box;
 margin:0;
 padding:0;
 font-family: 'Playfair Display SC', serif;
}
/*Header section*/
#navigation{
    background-color: rgba(0, 0, 0, 0.8);
    width:0;
    overflow-x: hidden;
    height:100%;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-top: 100px;
    transition: width 0.4s ease-out;
}
#navigation>a{
    border-bottom:solid thin rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
    margin:30px 30px 0 30px;
    text-decoration: none;
    color:#fff;
    font-size:0.9rem;
    font-weight:400;
    text-transform: uppercase;
    white-space: nowrap;
}
#navigation>a:hover{
    color: rgb(199, 199, 199);
}

/*main section*/
#menu-btn{
    position: absolute;
    left:0;
    margin-left: 10px;
    padding:10px 20px;
    background: none;
}
#menu-btn>img{
    width:25px;
}
.header-content{
    width:100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    padding:15px 0;
}
.header-content>a{
    margin: 0 30px;
    text-transform: capitalize;
    color:#fff;
    background-color: #000;
    padding:10px 15px;
    text-decoration: none;
    letter-spacing: 1px;
}
#search-field{
    width:300px;
    background:none;
    border:none;
    border-bottom: solid thin rgba(52,58,64,0.9);
    font-size: 0.9rem;
    padding:5px 1px;
    margin-right: 10px;
    outline: none;
}
.search-btn{
    background:none;
    border:none;
}
.search-btn>img{
    width:24px;
    height:auto;
}

.main{
    width:100vw;
}
  
@media only screen and (max-width:480px){
    html{
       font-size:11px;
    }
    #navigation{
        padding-top:50px;
    }
    #navigation>a{
        font-size: 1rem;
    }
    #menu-btn{
        margin-left:5px;
        padding:5px 10px;
    }
    .header-content{
        padding:10px 0;
        align-items: center;
    }
    .header-content>a{
        margin:0 15px;
        padding:5px 10px;
    }
    #search-field{
        width:120px;
    }
    .search-btn>img{
        width:14px;
    }
    
}