.request-form-div{
    width:100%;
    height:100vh;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("/static/Images/bg-request.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#request-form{
    color: #000;
    height:70vh;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: baseline;
    padding:100px;
}
#request-form>h4{
    background-color: #000;
    color:#fff;
    padding:10px;
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom:30px;
}
#request-form>p{
    margin: 20px;
}
#request-form>p>label{
    font-size:0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
}

#request-form>p>input{
    color:#000;
    background: none;
    margin-left:10px;
    font-size: 1rem;
    padding-left: 1px;
    width:300px;
    margin-left:20px;
    border:none;
    border-bottom: solid thin rgba(52,58,64,0.5);
    outline: none;
}

#id_User_Name, #id_User_Email, #id_Book_Title{
    position: relative;
    left:20px;
}
#id_Book_ISBN{
    position: relative;
    left:25px; 
}

#request-form>button{
    padding:10px 20px;
    border:solid thin #000;
    border-radius: 2px;
    text-transform: uppercase;
    background: none;
    margin:20px;
    color:#000;
}
#request-form-info{
    height:70vh;
    border-left:solid thin rgba(52,58,64,0.5);
    padding:100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
#request-form-info>div{
    width:70%;
}
#request-form-info>div>h1{
    font-size: 1.2rem;
    font-weight:900;
    color:#000;
}
#request-form-info>div>p{
    margin:30px 0;
    text-align: left;
    font-size: 1.2rem;
    color:#000;
    font-weight: 300;
}

@media only screen and (max-width:480px){
    .request-form-div{
        flex-flow: column nowrap;
    }
    #request-form{
        padding:10px;
        height:100vh;
    }
    #request-form>p{
        margin:10px;
    }
    #request-form>p>input{
        width:200px;
    }
    #request-form-info{
        padding: 5px 20px;
        border-left:none;
    }
}